.container {
  max-width: 100%;
  margin: 0 auto;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
  padding: 1% 1%;
}

.container--content {
  margin: 0 auto;
  max-width: 85%;
  padding: 4% 1%;
}

.container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container_col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  width: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-search {
  width: 90%;
  height: 80%;
  background: #ededf0;
  border-radius: 99px;
  outline: none;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reg-and-log-button {
  color: #5a5b6a;
  text-decoration: none;
}

.consumer-info-button {
  color: #2264d1;
  text-decoration: none;
  margin-left: 10%;
}

.login-info-button {
  border: 1px solid #9dc2ff;
  padding: 2%;
  border-radius: 4px;
  margin: 0 4%;
  font-weight: 700;
  text-decoration: none;
}

.reg-info-button {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
          box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
  padding: 2%;
  margin: 0 4%;
  font-weight: 700;
  text-decoration: none;
}

.padding-vertical {
  padding: 2% 0;
}

.flex-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product {
  padding: 5% 7%;
}

.product-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-info {
  width: 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191d;
  margin: 2% 0;
}

.product-price {
  font-weight: bold;
}

.product:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
          box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.products-container {
  background: #ffffff;
  /* Shadow Dark / 2dp */
  -webkit-box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
          box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  margin: 2% 0;
}
/*# sourceMappingURL=main.css.map */